@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --first-color: rgb(69, 77, 107);
    --second-color: rgb(53, 59, 80);
    --third-color: rgb(161, 56, 84);
}

* {
    box-sizing: border-box;
    outline: 0;
}

.container {
    max-width: 480px;
    margin: 80px auto;
    background: var(--second-color);
    padding: 40px;
    border-radius: 15px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
    font-size: 1.1em;
    line-height: 2.0em;
}

h1 {
    margin-top: 0px;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    font-size: 25px;
}

form input,
form label,
form button {
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 18px;
    border-radius: 2px;
    height: 32px;
    margin-bottom: 0px;
}


form input:hover {
    outline: 2px solid var(--third-color);
}

form button {
    margin-top: 24px;
    background: var(--third-color);
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 42px;
    cursor: pointer;
    border-radius: 2px;

}

.p-result-ok,
.p-result-bad {
    margin-bottom: 0px;
    margin-top: 0px;
}

.p-result-bad {
    color: rgb(255, 71, 71);
}